# ==============================================================================
# IP Core Filtering (Ignore all Vivado IP generated outputs, keep ONLY .xci)
# ==============================================================================
**/ipcores/**
!**/ipcores/**/
!**/ipcores/**/*.xci

# ==============================================================================
# Vivado Artifacts & Logs
# ==============================================================================
*.jou
*.log
*.pb
*.dcp
*.wcfg
*.cache
*.hw
*.ip_user_files
*.sim
*.gen
*.str
.Xil/
**/project/

# ==============================================================================
# Simulation Data Outputs
# ==============================================================================
*.dat